.App {
  text-align: center;
  background-color: #925454;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  height: 400px;
  width: 400px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#title{
  height: 60px;
  border: 1px solid;
}

#settings{
  height: 80px;
  border: 1px solid;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#display{
  height: 100px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

#controls{
  height: 60px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-content: center;
}

#settings-left,#settings-right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

#break-settings,#session-settings{
  display: flex;
  justify-content: center;
  align-content: center;
}